.risk-frequency-row {
  display: flex;
  gap: 20px;
  /* margin-top: 22px; */
}

.risk-level-field,
.frequency-field {
  flex: 1;
}

.risk-frequency-row select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 6px;
}